body{
    background-color: #2D2D2A;
    font-family: 'Ubuntu', sans-serif;
}

.loginHeading{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 30%;
    margin-top: 10%;
}

.login-input[type = "tel"]{
    background-color: #282828;
    border:none;
    width:70%;
    font-family: 'Ubuntu', sans-serif;
    margin-left:10%;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 5%;
    color:white;
}

.login-input[type = "tel"]:focus,
.login-input[type = "tel"]:hover {
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.brandName{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    margin-left: 15%;
    margin-top: 20%;

}

.loginbtn{
    width:130px;
    margin-left:27%;
    margin-top:5%;
    font-family: 'Ubuntu', sans-serif;
    background-color:#282828;
    border-radius: 10px;
}

.description{
    color: #D3D3D3;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    margin-top: 10%;
    margin-left: 15%;

}

.btnicon{
    color:white;
    margin-right: 6px;
}

.grecaptcha-badge { 
    visibility: hidden;
}


.otpHeading{
    font-size: 1.2rem;
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    font-family: 'Ubuntu', sans-serif;

}

.signupHeading{
    color:white;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 23%;
    margin-top: 10%;
}

.register-input{
    background-color: #282828;
    border:none;
    width:70%;
    font-family: 'Ubuntu', sans-serif;
    margin-left:10%;
    border-radius: 10px;
    padding-left: 15px;
    color:white;
}

.register-input:focus,
.register-input:hover {
  border: 1px solid #cccccc;
  border-radius: 8px;
  color:white;
  background-color: #282828;

}

input[type="tel"]:read-only{background-color:#282828;}


.signupLabel{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 5%;
    font-weight: bolder;
    margin-left: 10%;
}